if diagram        
  div.use-case-info
     img.use-case(src=diagram.accessDir+"/"+diagram.svgGraphFile)
  div.use-case-info-content
   ul.nav.nav-tabs
    li.active
     a(data-toggle='tab', href='#use-case-elements') Elements
    li
     a(data-toggle='tab', href='#use-case-paths') Paths
   div.tab-content
    div.tab-pane.fade.in.active(id="use-case-elements")
     table.table.table-striped.use-case-info-tab
      thead
       tr
        th ID
        th ELEMENT
        th TYPE
      tbody
       -var elementId = 1;
       each element in diagram.Elements
        tr
         th #{elementId}
         th
          span.use-case-element #{element.Name}
         th
          span.use-case-element-type #{element.Type}
        - elementId++;
    div.tab-pane.fade(id="use-case-paths")
     table.table.table-striped.use-case-info-tab
      thead
       tr
        th ID
        th PATH
        th TYPE
      tbody
       -var pathId = 1;
       each path in diagram.Paths
        tr
         th #{pathId}
         th
          span.use-case-path #{path.PathStr}
         th
          span.use-case-path-type #{path.Tag}
        - pathId++;