if useCaseInfo        
<<<<<<< HEAD
  button(onclick="toggleQueryDiagram()", class="big-button") Toggle Diagram
  div.use-case-info(style="display: none;", id="use-case-diagram")   
     object.use-case(data=useCaseInfo.AccessDir+"/useCase.svg" type="image/svg+xml")
=======
  div.use-case-info
     object.use-case(data=useCaseInfo.AccessDir+"/useCase.svg" type="image/svg+xml" data-diagram-type="#{useCaseInfo.diagramType}")
>>>>>>> 89ed333bdb36babcb1ce1d468300c1b4ca49eaab
  div.use-case-info-content
   ul.nav.nav-tabs
    li.active
     a(data-toggle='tab', href='#use-case-nodes') Activities
    li
     a(data-toggle='tab', href='#use-case-paths') Paths
   div.tab-content
    div.tab-pane.fade.in.active(id="use-case-nodes")
     table.table.table-striped.use-case-info-tab
      thead
       tr
        th ID
        th ELEMENT
        th TYPE
      tbody
       -var elementId = 1;
       each element in useCaseInfo.Activities
        tr(onclick="hightlight_diagram_element('#{element.Name}', 'element')", class="usecase-tr")
         td #{elementId}
         td
          span.use-case-element #{element.Name}
         td
          span.use-case-element-type #{element.Type}
        - elementId++;
    div.tab-pane.fade(id="use-case-paths")
     table.table.table-striped.use-case-info-tab
      thead
       tr
        th ID
        th PATH
        th TYPE
      tbody
       -var pathId = 1;
       each path in useCaseInfo.DisplayablePaths
        tr(onclick="hightlight_diagram_element('#{path.PathStr}', 'path')", class="usecase-tr")
         td #{pathId}
         td
          span.use-case-path #{path.PathStr}
         td
          span.use-case-path-type #{path.Tag}
        - pathId++;
