if diagram        
  div.use-case-info
     object.use-case(data=diagram.accessDir+"/"+diagram.svgGraphFile type="image/svg+xml")
  div.use-case-info-content
   ul.nav.nav-tabs
    li.active
     a(data-toggle='tab', href='#use-case-elements') Elements
    li
     a(data-toggle='tab', href='#use-case-paths') Paths
   div.tab-content
    div.tab-pane.fade.in.active(id="use-case-elements")
     table.table.table-striped.use-case-info-tab
      thead
       tr
        th ID
        th ELEMENT
        th TYPE
      tbody
       -var elementId = 1;
       each element in diagram.Elements
        tr(onclick="colorUseCaseElementAndPath('#{element.Name}', 'element')", class="usecase-tr")
         td #{elementId}
         td
          span.use-case-element #{element.Name}
         td
          span.use-case-element-type #{element.Type}
        - elementId++;
    div.tab-pane.fade(id="use-case-paths")
     table.table.table-striped.use-case-info-tab
      thead
       tr
        th ID
        th PATH
        th TYPE
      tbody
       -var pathId = 1;
       each path in diagram.Paths
        tr(onclick="colorUseCaseElementAndPath('#{path.PathStr}', 'path')", class="usecase-tr")
         td #{pathId}
         td
          span.use-case-path #{path.PathStr}
         td
          span.use-case-path-type #{path.Tag}
        - pathId++;