//- var data = [{"Number": "1", "UC": "UC1", "EXUCP":"4", "DUCP":"8", "Effort":"4", "Schedule":"8", "Personnel":"7", "UIDeveloper":"9", "FullStack":"19", "DatabaseDeveloper":"12"},{"Number": "2", "UC": "UC2", "EXUCP":"3", "DUCP":"1", "Effort":"3", "Schedule":"8", "Personnel":"3", "UIDeveloper":"3", "FullStack":"10", "DatabaseDeveloper":"23"}];
if error
  p #{error}
if estimationResults
  div(id='estimation-results-tables', data-estimation-model="#{estimationResults.EstimationModel}")
    div.model-predictions
      table.table.table-bordered
        thead
          tr
            th Model
            th Effort (PH)
            th Schedule (Months)
            th PH/Month
            th #{estimationResults.SizeMetric}
            th Personnel (FT)
            th UI Developer
            th Full Stack
            th Database Developer
            th Model
            th View
            th Control
        tbody
          tr.estimation-table
            td #{estimationResults.EstimationModel}
            td #{estimationResults.Effort}
            td #{estimationResults.Duration}
            td #{estimationResults.HoursPerMonth}
            td #{estimationResults.SizeMeasurement}
            td #{estimationResults.Personnel}
            td #{estimationResults.Personnel_UI}
            td #{estimationResults.Personnel_FS}
            td #{estimationResults.Personnel_DB}
            td #{estimationResults.DomainModel.MVCEstimates.ModelEffort}
            td #{estimationResults.DomainModel.MVCEstimates.ViewEffort}
            td #{estimationResults.DomainModel.MVCEstimates.ControlEffort}
  div(id='#{estimationResults.EstimationModel}-estimation-results-charts' data-url="#{modelInfo.AccessDir}/#{estimationResults.EstimationResultsFile}" data-myURL='url_id')
    div(id='estimation-charts')
  div.use-case-predictions.table-responsive
    table.table.table-bordered
      thead
        tr
          th#number_column Number
          th#Use_Case Use Case
          th#EffortPH Effort (PH)
          th#EffortPM Effort PM
          th#EffortDev Effort Dev
          th#EffortSyn Effort Syn
          th#Business Business Value
          th#EffortBV Effort/BV
          th#SizeMeasurement #{estimationResults.SizeMetric}
          th#Duration Schedule (Months)
          th#Personnel Personnel (FT)
          th#Personnel_UI UI Developer
          th#Personnel_FS Full Stack
          th#Personnel_DB Database Developer
      tbody
        - for (var i = 0; i < estimationResults.UseCases.length; i++) {
            tr.estimation-table
              td #{i}
              td #{estimationResults.UseCases[i].Name}
              td #{estimationResults.UseCases[i].Effort}
              td #{estimationResults.UseCases[i].useCasePMEffort}
              td #{estimationResults.UseCases[i].useCaseDEVEffort}
              td #{estimationResults.UseCases[i].synthesizedEffort}
              td #{estimationResults.UseCases[i].BusinessValue}
              td #{estimationResults.UseCases[i].EffortBVRatio}
              td #{estimationResults.UseCases[i].SizeMeasurement}
              td #{estimationResults.UseCases[i].Duration}
              td #{estimationResults.UseCases[i].Personnel}
              td #{estimationResults.UseCases[i].Personnel_UI}
              td #{estimationResults.UseCases[i].Personnel_FS}
              td #{estimationResults.UseCases[i].Personnel_DB}
        - }

