-var model_id = modelInfo._id
-var modelName = modelInfo.Name
-var repoID = repo_id
div.block.panel.panel-default
  div.panel-heading
   div.panel-title.analytics-title.pull-left
    include breadcrumb
   if modelInfo
    div.model-analytics-ops.pull-right
     div.dropdown
      button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Dump Model
        span.caret
      ul.dropdown-menu
        li
          a.dumpAnalyticsData.dropdown-item(href='getUseCaseAnalyticsForModelCSV?model_id=#{modelInfo._id}') Analytics
        li
          a.dumpAnalyticsData.dropdown-item(href='evaluateModelForUseCases?model_id=#{modelInfo._id}') Evaluation For Use Cases
     div.dropdown
      button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Load
        span.caret
      ul.dropdown-menu
        li
          a.dropdown-item(id='update-model' onclick="openDialogueBoxForModelFileUpdate('#{repoID}','#{model_id}');" href="javaScript:void(0);") Model Version
     div.dropdown
      button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Analysis
        span.caret
      ul.dropdown-menu
        li
          a.dropdown-item(id='reanalyse-model' href='reanalyseModel?model_id=#{modelInfo._id}') Re-analyse Model
        li
          a.dropdown-item(href='deleteModel?model_id=#{modelInfo._id}') Delete Model
    div.clearFix
  div.panel-body(id="model-stats-chart")
   div.model-info-content
    ul.nav.nav-tabs
     li.active
      a(data-toggle='tab', href='#model-analytics') Analytics
     li
      a(data-toggle='tab', href='#model-distributions') Distributions
     li
      a(data-toggle='tab', href='#model-empirical') Empirical
     li
      a(data-toggle='tab', href='#model-evaluation') Evaluation
     li
      a(data-toggle='tab', href='#usecase-analysis', onClick="query_model_usecase_func('#{modelInfo._id}');") Use cases
    div.tab-content
     div.tab-pane.fade.in.active(id="model-analytics")
      if false
       h3 Calculated:
       ul
        li
         span.statistical-item Number of Interface Management Transactions: #{modelInfo.INT}
        li
         span.statistical-item Number of Data Management Transactions: #{modelInfo.DM}
        li
         span.statistical-item Number of Control Transactions: #{modelInfo.CTRL}
        li
         span.statistical-item Number of External Inovations: #{modelInfo.EXTIVK}
        li
         span.statistical-item Number of External Calls: #{modelInfo.EXTCLL}
        li
         span.statistical-item Number of Not Matched Transactions: #{modelInfo.TRAN_NA}
        li
         span.statistical-item Number of EI: #{modelInfo.EI}
        li
         span.statistical-item Number of EO: #{modelInfo.EO}
        li
         span.statistical-item Number of EQ: #{modelInfo.EQ}
        li
         span.statistical-item Number of Not Matched Functions: #{modelInfo.FUNC_NA}
        li
         span.statistical-item Average Path Length: #{modelInfo.AvgPathLength}
        li
         span.statistical-item Average Element Degree: #{modelInfo.AvgDegree}
        li
         span.statistical-item Number of Paths: #{modelInfo.PathNum}
        li
         span.statistical-item Number of Elements: #{modelInfo.ElementNum}
        li
         span.statistical-item Number of Actors: #{modelInfo.ActorNum}
        li
         span.statistical-item Number of Boundary Elements: #{modelInfo.BoundaryNum}
        li
         span.statistical-item Number of Control Elements: #{modelInfo.ControlNum}
        li
         span.statistical-item Number of Entity Elements: #{modelInfo.EntityNum}
        li
         span.statistical-item Number of Attributes: #{modelInfo.AttributeNum}
        li
         span.statistical-item Number of Operations: #{modelInfo.OperationNum}
        li
         span.statistical-item Number of Use Cases: #{modelInfo.UseCaseNum}
        li
         span.statistical-item Number of Diagrams: #{modelInfo.DiagramNum}
        li
         span.statistical-item Number of Classes: #{modelInfo.ClassNum}
        li
         span.statistical-item ILF: #{modelInfo.ILF}
        li
         span.statistical-item EIF: #{modelInfo.EIF}
      if modelInfo
        div.col-sm-12.status-row
          div.col-sm-3
            div.blue-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{modelInfo.UseCaseNum}
                span Use Cases
          div.col-sm-3
            div.red-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{modelInfo.INT + modelInfo.DM + modelInfo.CTRL + modelInfo.TRAN_NA}
                span Transactions
          div.col-sm-3
            div.green-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{modelInfo.ClassNum}
                span Classes
          div.col-sm-3 
            div.purple-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{modelInfo.ActorNum}
                span Actors
        div.col-sm-12.scatter-plot-row
          img(src="#{modelInfo.AccessDir}/model_version_trending_lines.svg" style="width:100%;")  
        div.col-sm-12.chart-row  
          .col-sm-6
            img(src="#{modelInfo.AccessDir}/merged_distributions_for_transactions.svg" style="width:100%;")
          .col-sm-6 
            img(src="#{modelInfo.AccessDir}/transaction_type_percentage_plot.svg" style="width:100%;")
     div.tab-pane.fade(id="model-distributions")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/control_operation_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/external_input_operation_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/external_query_operation_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/external_invocation_operation_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/external_call_operation_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/interface_operation_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/not_matched_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/architecture_difficulty_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/average_degree_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/average_path_length_analysis_result.svg")
      div.stats-chart
       img(src="#{modelInfo.AccessDir}/path_number_analysis_result.svg")
     div.tab-pane.fade(id="model-empirical")
       div.model-evaluation
        h3 Evaluation:
        form(id="model-evaluation-form", onsubmit="return false;", class="form-horizontal")
         div(class="form-group")
          label(for="uexucw" class="col-sm-3 control-label") Unadjusted Extended Use Case Weight (#{modelInfo.UEXUCW}):
          div(class="col-sm-4")
            input(type='text', name='uexucw', id='uexucw', class="form-control")
         div(class="form-group")
          label(for="uaw" class="col-sm-3 control-label") Unadjusted Actor Weight (#{modelInfo.UAW}):
          div(class="col-sm-4")
            input(type='text', name='uaw', id='uaw', class="form-control")
         div(class="form-group")
          label(for="tcf" class="col-sm-3 control-label") Technical Complexity Factor (#{modelInfo.TCF}):
          div(class="col-sm-4")
           input(type='text', name='tcf', id='tcf', class="form-control")
         div(class="form-group")
          label(for="ef" class="col-sm-3 control-label") Environmental Complexity Factor (#{modelInfo.ECF}):
          div(class="col-sm-4")
           input(type='text', name='ef', id='ef', class="form-control")
         div(class="form-group")
          label(for="afp" class="col-sm-3 control-label") Adjusted Function Point (#{modelInfo.AFP}):
          div(class="col-sm-4")
           input(type='text', name='afp', id='afp', class="form-control")
         div(class="form-group")
          label(for="vaf" class="col-sm-3 control-label") Value Adjustment Factor (#{modelInfo.VAF}):
          div(class="col-sm-4")
           input(type='text', name='vaf', id='vaf', class="form-control")
         div(class="form-group")
          label(for="ph" class="col-sm-3 control-label") Effort (PH) (#{modelInfo.PH}):
          div(class="col-sm-4")
           input(type='text', name='ph', id='ph', class="form-control")
           input(type='hidden', name='model-id', id='model-id' value='#{modelInfo._id}')
         div(class="form-group")
          div.col-sm-offset-3.col-sm-4
           button(id='model-evaluation-form-submit-button', class="btn btn-primary") Submit
     div.tab-pane.fade(id="model-evaluation")
       div.model-evaluation-ops
         div
          a(id="dump-model-evaluation-for-use-cases-btn" href='evaluateModelForUseCases?model_id=#{modelInfo._id}') Dump Model Evaluation For Use Cases
         div(id="model-evaluation-dump-display")
     div.tab-pane.fade(id="usecase-analysis")
      div(id="model-usecase-analysis")
       h3 loading...