-var model_id = modelInfo._id
-var modelName = modelInfo.Name
-var repoID = repo_id
div.block.panel.panel-default
  div.panel-heading
   div.panel-title.analytics-title.pull-left
    include breadcrumb
   if modelInfo
    div.model-analytics-ops.pull-right
     div.dropdown
      button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Dump Model
        span.caret
      ul.dropdown-menu
        li
          a.dumpAnalyticsData.dropdown-item(href='getUseCaseAnalyticsForModelCSV?model_id=#{modelInfo._id}') Analytics
        li
          a.dumpAnalyticsData.dropdown-item(href='evaluateModelForUseCases?model_id=#{modelInfo._id}') Evaluation For Use Cases
     div.dropdown
      button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Load
        span.caret
      ul.dropdown-menu
        li
          a.dropdown-item(id='update-model' onclick="openDialogueBoxForModelFileUpdate('#{repoID}','#{model_id}');" href="javaScript:void(0);") Model Version
     div.dropdown
      button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Analysis
        span.caret
      ul.dropdown-menu
        li
          a.dropdown-item(id='reanalyse-model' href='reanalyseModel?model_id=#{modelInfo._id}') Re-analyse Model
        li
          a.dropdown-item(href='deleteModel?model_id=#{modelInfo._id}') Delete Model
    div.clearFix
  div.panel-body(id="model-stats-chart")
   div.model-info-content
    ul.nav.nav-tabs
     li.active
      a(data-toggle='tab', href='#model-analytics') Overview
     //li
      //a(data-toggle='tab', href='#model-analysis') Analysis
     //li
      //a(data-toggle='tab', href='#model-empirical') Empirical
     li
      a(data-toggle='tab', href='#usecase-analysis', onClick="query_model_usecase_func('#{modelInfo._id}');") Model Elements
     li
      a(data-toggle='tab', href='#model-evaluation') Model Info
     li
      a(data-toggle='tab', href='#repo_archive') Archive

     //li
      //a(data-toggle='tab', href='#model-representation') Representation
    div.tab-content
     div.tab-pane.fade.in.active(id="model-analytics")
      if modelInfo
        div.col-sm-12.status-row
          div.col-sm-3
            div.blue-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{modelInfo.ElementAnalytics.UseCaseNum}
                span Use Cases
          div.col-sm-3
            div.red-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{modelInfo.TransactionAnalytics.INT + modelInfo.TransactionAnalytics.DM + modelInfo.TransactionAnalytics.CTRL + modelInfo.TransactionAnalytics.TRAN_NA}
                span Transactions
          div.col-sm-3
            div.green-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{modelInfo.ClassNum}
                span Classes
          div.col-sm-3
            div.purple-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{modelInfo.ElementAnalytics.ActorNum}
                span Actors
        //div.col-sm-12.scatter-plot-row(id="trending-line" data="./#{modelInfo.AccessDir}/modelVersionInfo.csv")
        div(id="model-analysis" data-expandedPathURL="./#{modelInfo.AccessDir}/expandedPathAnalytics.csv", data-pathAnalyticsURL="./#{modelInfo.AccessDir}/pathAnalytics.csv", data-usecaseAnalyticsURL="./#{modelInfo.AccessDir}/useCaseAnalytics.csv")
         //div.stats-chart.col-md-12(id="chart-1") here should be distributions.
        //div.col-sm-12.chart-row  
         div.col-sm-6(id="chart-1") here should be distributions.
        div.col-sm-12.chart-row
          .col-sm-6
            //img(src="#{modelInfo.AccessDir}/merged_distributions_for_transactions.svg" style="width:100%;")
            div.model-evaluation
               h3 Calculated:
               ul
                li
                 span.statistical-item Number of Interface Management Transactions: #{modelInfo.INT}
                li
                 span.statistical-item Number of Data Management Transactions: #{modelInfo.DM}
                li
                 span.statistical-item Number of Control Transactions: #{modelInfo.CTRL}
                li
                 span.statistical-item Number of External Inovations: #{modelInfo.EXTIVK}
                li
                 span.statistical-item Number of External Calls: #{modelInfo.EXTCLL}
                li
                 span.statistical-item Number of Not Matched Transactions: #{modelInfo.TRAN_NA}
                li
                 span.statistical-item Number of EI: #{modelInfo.EI}
                li
                 span.statistical-item Number of EO: #{modelInfo.EO}
                li
                 span.statistical-item Number of EQ: #{modelInfo.EQ}
                li
                 span.statistical-item ILF: #{modelInfo.ILF}
                li
                 span.statistical-item EIF: #{modelInfo.EIF}
                li
                 span.statistical-item Number of Not Matched Functions: #{modelInfo.FUNC_NA}
                li
                 span.statistical-item Average Path Length: #{modelInfo.AvgPathLength}
                li
                 span.statistical-item Average Element Degree: #{modelInfo.AvgDegree}
                li
                 span.statistical-item Number of Paths: #{modelInfo.PathNum}
                li
                 span.statistical-item Number of Elements: #{modelInfo.ElementNum}
                li
                 span.statistical-item Number of Actors: #{modelInfo.ActorNum}
                li
                 span.statistical-item Number of Boundary Elements: #{modelInfo.BoundaryNum}
                li
                 span.statistical-item Number of Control Elements: #{modelInfo.ControlNum}
                li
                 span.statistical-item Number of Entity Elements: #{modelInfo.EntityNum}
                li
                 span.statistical-item Number of Attributes: #{modelInfo.AttributeNum}
                li
                 span.statistical-item Number of Operations: #{modelInfo.OperationNum}
                li
                 span.statistical-item Number of Use Cases: #{modelInfo.UseCaseNum}
                li
                 span.statistical-item Number of Diagrams: #{modelInfo.DiagramNum}
                li
                 span.statistical-item Number of Classes: #{modelInfo.ClassNum}
          .col-sm-6(id="transaction-pie")
            div(id="details" )
     //div.tab-pane.fade(id="model-analysis" data-expandedPathURL="./#{modelInfo.AccessDir}/expandedPathAnalytics.csv", data-pathAnalyticsURL="./#{modelInfo.AccessDir}/pathAnalytics.csv", data-usecaseAnalyticsURL="./#{modelInfo.AccessDir}/useCaseAnalytics.csv")
      //div.stats-chart.col-md-12(id="chart-1")
      //div.stats-chart.col-md-6(id="chart-8")
      //div.stats-chart.col-md-6(id="chart-9")
      //div.stats-chart.col-md-6(id="chart-10")
      //div.stats-chart.col-md-6(id="chart-11")
     div.tab-pane.fade(id="usecase-analysis")
      div(id="model-usecase-analysis")
       h3 loading...
     div.tab-pane.fade(id="model-evaluation")
       div.model-evaluation
        h3 Evaluation
         button.btn.btn-default.buttonForModel#modifyButton(type='button', onclick='editFunction(this);') Modify
         table#dataTable.table.table-striped
            tbody
                tr
                    td Distributed System
                    td
                        select(disabled='true').form-control#editNumber1
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Response time or throughput performance objectives
                    td
                        select(disabled='true').form-control#editNumber2
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td End user efficiency
                    td
                        select(disabled='true').form-control#editNumber3
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Complex internal processing
                    td
                        select(disabled='true').form-control#editNumber4
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Code must be reusable
                    td
                        select(disabled='true').form-control#editNumber5
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Easy to install
                    td
                        select(disabled='true').form-control#editNumber6
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Easy to use
                    td
                        select(disabled='true').form-control#editNumber7
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Portable
                    td
                        select(disabled='true').form-control#editNumber8
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Easy to change
                    td
                        select(disabled='true').form-control#editNumber9
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Concurrent
                    td
                        select(disabled='true').form-control#editNumber10
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Includes special security objectives
                    td
                        select(disabled='true').form-control#editNumber11
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Provides direct access for third parties
                    td
                        select(disabled='true').form-control#editNumber12
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Special user training facilities are required
                    td
                        select(disabled='true').form-control#editNumber13
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Familiar with the project model that is used
                    td
                        select(disabled='true').form-control#editNumber14
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Application experience
                    td
                        select(disabled='true').form-control#editNumber15
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Object-oriented experience
                    td
                        select(disabled='true').form-control#editNumber16
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Lead analyst capability
                    td
                        select(disabled='true').form-control#editNumber17
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Motivation
                    td
                        select(disabled='true').form-control#editNumber18
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Stable requirements
                    td
                        select(disabled='true').form-control#editNumber19
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Part-time staff
                    td
                        select(disabled='true').form-control#editNumber20
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                tr
                    td Difficult programming language
                    td
                        select(disabled='true').form-control#editNumber21
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5

         button.btn.btn-default.buttonForModel#submitButton.hidden(type='button', onclick='submitEdit();') Submit
         button.btn.btn-default.buttonForModel#cancelButton.hidden(type='button', onclick='cancelEdit();') Cancel
     div.tab-pane.fade(id="repo_archive")
            button.btn.btn-default(type='button') test
     //div.tab-pane.fade(id="model-evaluation")
      div.model-evaluation-ops
         div
          a(id="dump-model-evaluation-for-use-cases-btn" href='evaluateModelForUseCases?model_id=#{modelInfo._id}') Dump Model Evaluation For Use Cases
         div(id="model-evaluation-dump-display")
