html
  head
    title UMLx SignUp
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(type='text/javascript', src="js/scripts.js")
    
  body.signUp
   div.clear
   div.container
    div.row
     div.col-sm-4
      div#profileDiv
       div.panel-body
        div
         img(src="img/anonymous.png" height="310px" width="310px")
         div.name-card
           span.user-name-span #{profileInfo.userName}
         div.email-card
           span(class="glyphicon glyphicon-envelope") 
           span.email-span 
             a(href="mailto:#{profileInfo.email}") #{profileInfo.email}
       if profileInfo.isEnterprise
        div#messageDiv
        div.panel.panel-default
         div.panel-heading(style="font-size:20px;text-align:center;") Invite a User
         div.panel-body
          div
            form(id='invite-form')
              label.formLabel Email
              br
              input.signUp(type='text', name='email', id='email')
              br
              input.btn.btn-primary.signUpButton(type='submit',value='Invite')
     div.col-sm-8
      h1 Repositories
      ul
      if profileRep
      h3.row
          .col-sm-2 Index
          .col-sm-6 Repo ID
          .col-sm-4 Output Directory
      .list-group
          .col-sm-2 1
          .col-sm-6 #{profileRep._id}
          .col-sm-4 #{profileRep.OutputDir}
