-var repoID = repoInfo._id
-var path = repoInfo.AccessDir;
input(type='hidden', value=repoID)#myrepoId
div.block.panel.panel-default
  //- div.panel-heading
   div.panel-title.analytics-title.pull-left
    include breadcrumb
   div.clearFix
  div.panel-body(id="repo-stats-chart")
   div.repo-info-content
    div.tab-content
      div.tab-pane.fade(id="repo_analytics")
        div.repo-analysis-detail
          div.repo-metrics
      div.tab-pane.fade.in.active(id="main_page" style = "width: 100%; padding : 0; margin-top: -60px")
        div.form-container
            form#model-file-submit-form.form-horizontal.form(novalidate='', method='post', action='/uploadUMLFile', enctype='multipart/form-data')
                div.input-group
                    input.form-control.form-blank(type='text',readonly)
                    label.input-group-btn
                        span.btn.btn-primary.form-button Browse
                            input#uml-file(type="file", style="display: none;", name='uml-file', accept='text/xml', role = "button" )
                div
                    button.btn.btn-dark.btn-submit.btn-lg(type='submit', onclick='showLoading()') Submit
                #loadingScreen.hidden
                    div.full-page-model
                    div.full-page-model-content
                        div(style='padding: 30px')
                            img(id='model-query-progressing' src='img/progress-bar.gif' style='width:100px')
                            p(style = "font-size : 16px;") Processing...
      div.tab-pane.fade(id="repo_estimation")
        include estimationPanel
      div.tab-pane.fade(id="repo_trending")
        if repoInfo
          div.col-sm-12.scatter-plot-row(id="trending-line" data="./#{repoInfo.AccessDir}/modelVersionInfo.csv")
          div.col-sm-12.status-row
            div.col-sm-3
              div#project-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{totalRec}
                  span Projects
            div.col-sm-3
              div#usecase-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.UseCaseNum}
                  span Use Cases
            div.col-sm-3
              div#transaction-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1")
                .col-sm-8.text-box
                  h2 #{repoInfo.NT}
                  span Transactions
            div.col-sm-3 
              div#class-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.EntityNum}
                  span Classes
          div.col-sm-12.status-row
            div.col-sm-3
              div#sloc-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.SLOC}
                  span SLOC
            div.col-sm-3
              div#schedule-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.schedule}
                  span Schedule
            div.col-sm-3
              div#personnel-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.personnel}
                  span Personnel
            div.col-sm-3 
              div#eucp-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.EUCP}
                  span Eucp
          div.col-sm-12.status-row
            div.col-sm-3
              div#exucp-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.EXUCP}
                  span EXUCP
            div.col-sm-3
              div#ducp-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.DUCP}
                  span DUCP
            div.col-sm-3
              div#effort-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.effort}
                  span Effort
            div.col-sm-3
              div#estimate-card.analytics-card
                .col-sm-4.image-box
                  img(src="img/project.png", alt="")
                  img(src="img/check.png", name="checkImg", style="heigth:25px;width:25px;opacity:1;display:none")
                .col-sm-8.text-box
                  h2 #{repoInfo.estimatedEffort}
                  span Estimated Effort 
      div.tab-pane.fade(id="project_list")
        .container
          h3.row
            .col-sm-2 Index
            .col-sm-8 Project Name
            .col-sm-2 Date
          .list-group
            - var pageIndex = (currentPage - 1)*(pageSize) + 1
            div(id='page-panel')
              each item in repoInfo.Models
                a.list-group-item.row.model-title(href="queryModelInfo?model_id=" + item._id)
                  .col-sm-2 #{pageIndex++}
                  .col-sm-8 #{item.Name}
                  .col-sm-2 #{item.creationTime}
              include pagination.jade
      div.tab-pane.fade(id="repo_archive")
        div
          p #{repoInfo.OutputDir}
        div#displayRepoArchive

