-var repoID = repoInfo._id
-var path = repoInfo.AccessDir;
div.block.panel.panel-default
  div.panel-heading
   div.panel-title.analytics-title.pull-left
    include breadcrumb
   if repoInfo
    div.repo-analytics-ops.pull-right
      div.dropdown
        button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Dump Repo
          span.caret
        ul.dropdown-menu
          li
            a.dumpEvaluationData.dropdown-item(href='./#{repoInfo.AccessDir}/modelEvaluation.csv') Evaluation For Models
          li
            a.dumpEvaluationData.dropdown-item(href='./#{repoInfo.AccessDir}/modelEvaluation.csv') Evaluation For Models (simulation)
          li
            a.dumpEvaluationData.dropdown-item(href='./#{repoInfo.AccessDir}/useCaseEvaluation.csv') Evaluation For Use Cases
          li
            a.dumpEvaluationData.dropdown-item(href='./#{repoInfo.AccessDir}/domainModelEvaluation.csv') Evaluation For Domain Models
          li
            a.dumpEvaluationData.dropdown-item(href='./#{repoInfo.AccessDir}/transactionAnalytics.csv') Evaluation For Transactions
          li
            a.dumpEvaluationData.dropdown-item(href='./#{repoInfo.AccessDir}/entityAnalytics.csv.csv') Evaluation For Classes
          li
            a.dumpEvaluationData.dropdown-item(href='./#{repoInfo.AccessDir}/elementAnalytics.csv') Evaluation For Elements
          //li
            //a.dumpEvaluationData.dropdown-item(href='dumpRepoDescriptiveDistributions?repo_id=#{repoInfo._id}') Descriptive Distributions
      div.dropdown
        button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Load
          span.caret
        ul.dropdown-menu
          li
            a.dropdown-item(id="open_btn" onclick="openDialogueBox('#{repoInfo._id}', '1');" href="javaScript:void(0);") Empirical Data For Use Cases
          li
            a.dropdown-item(onclick="openDialogueBox('#{repoInfo._id}', '2');" href="javaScript:void(0);") Empirical Data For Models
          //li
            //a.dropdown-item(onclick="openDialogueBox('#{repoInfo._id}', '3');" href="javaScript:void(0);") COCOMO Data
      div.dropdown
          button.btn.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Analysis
            span.caret
          ul.dropdown-menu
            li
              a.request-repo-analytics.dropdown-item(href='reanalyseRepo?repo_id=#{repoInfo._id}') Reanalyse Repo
            li
              a.dropdown-item(href='reloadRepo?repo_id=#{repoInfo._id}') Reload Repo
   div.clearFix
  div.panel-body(id="repo-stats-chart")
   div.repo-info-content
    ul.nav.nav-tabs
     li.active
      a(data-toggle='tab', href='#repo_analytics') Overview
     //li
      //a(data-toggle='tab', href='#repo_distributions') Analysis
     li
      a(data-toggle='tab', href='#repo_estimation') Estimation
     li
      a(data-toggle='tab', href='#project_list') Projects 
        span(class="badge") #{repoInfo.Models.length}
     li
      a(data-toggle='tab', href='#repo_archive', data-url='#{path}', onclick='walkRepoDir(this)') Archives
    div.tab-content
     div.tab-pane.fade.in.active(id="repo_analytics")
      if repoInfo
        div.col-sm-12.status-row
          div.col-sm-3
            div.blue-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{totalRec}
                span Projects
          div.col-sm-3
            div.red-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{repoInfoBrief.UseCaseNum}
                span Use Cases
          div.col-sm-3
            div.green-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{repoInfoBrief.NT}
                span Transactions
          div.col-sm-3
            div.purple-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{repoInfoBrief.EntityNum}
                span Classes
       div.col-sm-12.scatter-plot-row(id="trending-line" data="./#{repoInfo.AccessDir}/modelVersionInfo.csv")
        //div.col-sm-12.chart-row
          //.col-sm-6
            //img(src="#{repoInfo.AccessDir}/merged_distributions_for_transactions.svg" style="width:100%;")
          //.col-sm-6(id="transaction-pie" data="./#{repoInfo.AccessDir}/transactionAnalytics.csv")
       div.repo-analysis-detail
          div.repo-metrics
     div.tab-pane.fade(id="repo_estimation")
      include estimationPanel
     div.tab-pane.fade(id="project_list")
         div
           p #{repoInfo.OutputDir}
         .container
             h3.row
                .col-sm-2 Index
                .col-sm-8 Project Name
                .col-sm-2 Date
             .list-group
                 - var pageIndex = (currentPage - 1)*(pageSize) + 1
                 div(id='page-panel')
                     each item in repoPageInfo
                         a.list-group-item.row.model-title(href="queryModelInfo?model_id=" + item._id)
                             .col-sm-2 #{pageIndex++}
                             .col-sm-8 #{item.Name}
                             .col-sm-2 #{item.creationTime}
                     include pagination.jade
     div.tab-pane.fade(id="repo_archive")
         div#displayRepoArchive

