if useCaseInfo
 div.use-case-detail-content(data-use-case-title=useCaseInfo.Name)
  ul.nav.nav-tabs
   li.active
    a(data-toggle='tab', href='#use-case-info-pane') UseCase Info
   li
    a(data-toggle='tab', href='#use-case-analytics') Analytics
   li
    a(data-toggle='tab', href='#use-case-distributions') Distributions
   li
    a(data-toggle='tab', href='#use-case-evaluation') Evaluation
 div.tab-content
  div.tab-pane.fade.in.active(id="use-case-info-pane")
   -var diagrams = useCaseInfo.Diagrams
   include diagramsDisplay 
  div.tab-pane.fade(id="use-case-analytics")
     div.use-case-analytics
        h3 Calculated:
        ul
         li
          span.statistical-item Number of Interface Management Transactions: #{useCaseAnalytics.INT}
         li
          span.statistical-item Number of Data Management Transactions: #{useCaseAnalytics.DM}
         li
          span.statistical-item Number of Control Transactions: #{useCaseAnalytics.CTRL}
         li
          span.statistical-item Number of External Inovations: #{useCaseAnalytics.EXTIVK}
         li
          span.statistical-item Number of External Calls: #{useCaseAnalytics.EXTCLL}
         li
          span.statistical-item Number of Not Matched Transactions: #{useCaseAnalytics.TRAN_NA}
         li
          span.statistical-item Number of EI: #{useCaseAnalytics.EI}
         li
          span.statistical-item Number of EO: #{useCaseAnalytics.EO}
         li
          span.statistical-item Number of EQ: #{useCaseAnalytics.EQ}
         li
          span.statistical-item Number of Not Matched Functions: #{useCaseAnalytics.FUNC_NA}
         li
          span.statistical-item Average Path length: #{useCaseAnalytics.AvgPathLength}
         li
          span.statistical-Item Average Element Degree: #{useCaseAnalytics.AvgDegree}
         li
          span.statistical-item Number of Paths: #{useCaseAnalytics.PathNum}
         li
          span.statistical-Item Number of Elements: #{useCaseAnalytics.ElementNum}
         li
          span.statistical-item Number of Actors: #{useCaseAnalytics.ActorNum}
         li
          span.statistical-item Number of Boundary Elements: #{useCaseAnalytics.BoundaryNum}
         li
          span.statistical-item Number of Control Elements: #{useCaseAnalytics.ControlNum}
         li
          span.statistical-item Number of Entity Elements: #{useCaseAnalytics.EntityNum}
  div.tab-pane.fade(id="use-case-distributions")
    div.use-case-distributions
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/control_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/external_input_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/external_query_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/external_invocation_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/external_call_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/interface_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/partial_match_analysis_result.svg")
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/functional_pattern_counts.svg")
        div.stats-chart
         img(src="#{useCaseAnalytics.AccessDir}/trasactional_pattern_counts.svg")
  div.tab-pane.fade(id="use-case-evaluation")
     div.use-case-evaluation
        h3 Evaluation:
        form.form-horizontal(id="use-case-evaluation-form", onsubmit="return false;")
         div.form-group
          label(for="path_num" class="col-sm-6 control-label") Number of transactions (#{useCaseAnalytics.PathNum}):
          div.col-sm-6
           input(type='text', name='path_num', id='path_num', class="form-control")
         div.form-group
          label(for="dm" class="col-sm-6 control-label") Number of Data Management Transactions (#{useCaseAnalytics.DM}):
          div.col-sm-6
           input(type='text', name='dm', id='dm', class="form-control")
         div.form-group
          label(for="im" class="col-sm-6 control-label") Number of Interface Management Transactions (#{useCaseAnalytics.IM}):
          div.col-sm-6
           input(type='text', name='im', id='im', class="form-control")
         div.form-group
          label(for="ct" class="col-sm-6 control-label") Number of Control Transactions (#{useCaseAnalytics.CT}):
          div.col-sm-6
           input(type='text', name='ct', id='ct', class="form-control")
         div.form-group
          label(for="eivk" class="col-sm-6 control-label") Number of external invocations (#{useCaseAnalytics.EIVK}):
          div.col-sm-6
           input(type='text', name='eivk', id='eivk', class="form-control")
         div.form-group
          label(for="ecll" class="col-sm-6 control-label") Number of external calls (#{useCaseAnalytics.ECLL}):
          div.col-sm-6
           input(type='text', name='ecll', id='ecll', class="form-control")
         div.form-group
          label(for="ccss" class="col-sm-6 control-label") Cyclomatic coplexity of structured scenarios (#{useCaseAnalytics.CCSS}):
          div.col-sm-6
           input(type='text', name='ccss', id='ccss', class="form-control")
         div.form-group
          label(for="it" class="col-sm-6 control-label") Number of transactions (#{useCaseAnalytics.IT}):
          div.col-sm-6
           input(type='text', name='it', id='it', class="form-control")
         div.form-group
          label(for="ilf" class="col-sm-6 control-label") Internal logical files (#{useCaseAnalytics.ILF}):
          div.col-sm-6
           input(type='text', name='ilf', id='ilf', class="form-control")
         div.form-group
          label(for="elf" class="col-sm-6 control-label") External logical files (#{useCaseAnalytics.ELF}):
          div.col-sm-6
           input(type='text', name='elf', id='elf', class="form-control")
         div.form-group
          label(for="ei" class="col-sm-6 control-label") External inputs (#{useCaseAnalytics.EI}):
          div.col-sm-6
           input(type='text', name='ei', id='ei', class="form-control")
         div.form-group
          label(for="eo" class="col-sm-6 control-label") External outputs(#{useCaseAnalytics.EO}):
          div.col-sm-6
           input(type='text', name='eo', id='eo', class="form-control")
         div.form-group
          label(for="eq" class="col-sm-6 control-label") External inquiries (#{useCaseAnalytics.EQ}):
          div.col-sm-6
           input(type='text', name='eq', id='eq', class="form-control")
         div.form-group
          label(for="ph" class="col-sm-6 control-label") Effort (person-hours) (#{useCaseAnalytics.PH}):
          div.col-sm-6
           input(type='text', name='ph', id='ph', class="form-control")
           input(type='hidden', name='use-case-id', value='#{useCaseAnalytics._id}')
           input(type='hidden', name='model-id', value='#{modelId}')
         div.form-group
          div.col-sm-6.col-sm-offset-6
           button.btn.btn-primary(id='use-case-evaluation-form-submit-button') Submit
        div
          a(id='delete-use-case-btn' href='deleteUseCase?useCase_id=#{useCaseAnalytics._id}&model_id=#{modelId}') Delete Model
  div.clear
