-var repoID = repoAnalytics._id
div.block.panel.panel-default
  div.panel-heading
   div.panel-title.analytics-title.pull-left
    include breadcrumb
   if repoAnalytics
    div.repo-analytics-ops.pull-right
      div.dropdown
        button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Dump Repo
          span.caret
        ul.dropdown-menu
          li
            a.dumpEvaluationData.dropdown-item(href='evaluateRepoForModels?repo_id=#{repoAnalytics._id}&simulation=false&refresh=true') Evaluation For Models
          li
            a.dumpEvaluationData.dropdown-item(href='evaluateRepoForModels?repo_id=#{repoAnalytics._id}&simulation=true&refresh=true') Evaluation For Models (simulation)
          li
            a.dumpEvaluationData.dropdown-item(href='evaluateRepoForUseCases?repo_id=#{repoAnalytics._id}&simulation=false') Evaluation For Use Cases
          li
            a.dumpEvaluationData.dropdown-item(href='dumpRepoDescriptiveDistributions?repo_id=#{repoAnalytics._id}') Descriptive Distributions
      div.dropdown
        button.btn.btn-secondary.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Load
          span.caret
        ul.dropdown-menu
          li
            a.dropdown-item(id="open_btn" onclick="openDialogueBox('#{repoAnalytics._id}', '1');" href="javaScript:void(0);") Empirical Data For Use Cases
          li
            a.dropdown-item(onclick="openDialogueBox('#{repoAnalytics._id}', '2');" href="javaScript:void(0);") Empirical Data For Models
          li
            a.dropdown-item(onclick="openDialogueBox('#{repoAnalytics._id}', '3');" href="javaScript:void(0);") COCOMO Data
      div.dropdown
          button.btn.dropdown-toggle.btn-default(data-toggle='dropdown',type='button',aria-haspopup="true",aria-expanded="false") Analysis
            span.caret
          ul.dropdown-menu
            li
              a.request-repo-analytics.dropdown-item(href='queryRepoAnalytics?repo_id=#{repoAnalytics._id}&refresh=true') Reanalyse Repo
            li
              a.dropdown-item(href='reloadRepo?repo_id=#{repoAnalytics._id}') Reload Repo
   div.clearFix
  div.panel-body(id="repo-stats-chart")
   div.repo-info-content
    ul.nav.nav-tabs
     li.active
      a(data-toggle='tab', href='#repo_analytics') Analytics
     li
      a(data-toggle='tab', href='#repo_distributions') Distributions
     li
      a(data-toggle='tab', href='#repo_estimation') Estimation
     li
      a(data-toggle='tab', href='#project_list') Projects 
        span(class="badge") #{repo.models.length}
    div.tab-content
     div.tab-pane.fade.in.active(id="repo_analytics")
      if false
       h3 Calculated:
       ul
        li
         span.statistical-item Average Path Length: #{repoAnalytics.AvgPathLength}
        li
         span.statistical-item Number of Paths: #{repoAnalytics.PathNum}
        li
         span.statistical-item Total Number of Links: #{repoAnalytics.TotalLinks}
        li
         span.statistical-item Number of Actors: #{repoAnalytics.ActorNum}
        li
         span.statistical-item Number of Boundaries: #{repoAnalytics.BoundaryNum}
        li
         span.statistical-item Number of Actors: #{repoAnalytics.ControlNum}
        li
         span.statistical-item Number of Boundaries: #{repoAnalytics.EntityNum}
        li
         span.statistical-item Number of Elements: #{repoAnalytics.ElementNum}
        li
         span.statistical-item Average Element Degree: #{repoAnalytics.AvgDegree}
        li
         span.statistical-item Number of Interface Management: #{repoAnalytics.INT}
        li
         span.statistical-item Number of Data Management: #{repoAnalytics.DM}
        li
         span.statistical-item Number of Control Flows: #{repoAnalytics.CTRL}
        li
         span.statistical-item Number of External Invocations: #{repoAnalytics.EXTIVK}
        li
         span.statistical-item Number of External Calls: #{repoAnalytics.EXTCLL}
        li
         span.statistical-item Number of External Inputs: #{repoAnalytics.EI}
        li
         span.statistical-item Number of External Inquiries: #{repoAnalytics.EQ}
        li
         span.statistical-item Number of External Outputs: #{repoAnalytics.EO}
        li
         span.statistical-item Number of Transactions: #{repoAnalytics.TN}
      if repoAnalytics
        div.col-sm-12.status-row
          div.col-sm-3
            div.blue-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{repo.models.length}
                span Projects
          div.col-sm-3
            div.red-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{repo.models.length}
                span Use Cases
          div.col-sm-3
            div.green-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{repo.models.length}
                span Transactions
          div.col-sm-3 
            div.purple-card.analytics-card
              .col-sm-4.image-box
                img(src="img/project.png", alt="")
              .col-sm-8.text-box
                h2 #{repo.models.length}
                span Classes
        div.col-sm-12.scatter-plot-row
          svg(data="./#{repoAnalytics.AccessDir}/model_version_info.csv" width="960" height="400")  
        div.col-sm-12.chart-row
          .col-sm-6
            img(src="#{repoAnalytics.AccessDir}/merged_distributions_for_transactions.svg" style="width:100%;")
          .col-sm-6 
            img(src="#{repoAnalytics.AccessDir}/transaction_type_percentage_plot.svg" style="width:100%;")                        
     div.tab-pane.fade(id="repo_distributions")
      if repoAnalytics
       div(id="repo-stats-chart")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/control_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/external_input_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/external_query_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/external_invocation_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/external_call_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/interface_operation_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/not_matched_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/architecture_difficulty_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/average_degree_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/average_path_length_analysis_result.svg")
        div.stats-chart
         img(src="#{repoAnalytics.AccessDir}/path_number_analysis_result.svg")
     div.tab-pane.fade(id="repo_estimation")
      if repoAnalytics
       div(id="estimation-models-panel")
        div(id="model-query-box")
         div.row-item(id='estimator-selector-box')
          div.dropdown
           button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown') Select Estimator
            span.caret
           ul.dropdown-menu
            li
             a.estimator-selector(data-estimator='OLSR') Linear Regression
            li
             a.estimator-selector(data-estimator='RR') Ridge Regression
            li
             a.estimator-selector(data-estimator='LS') Linear Spline
         div.row-item(id='model-selector-box')
          div.dropdown
           button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown') Select Model
            span.caret
           ul.dropdown-menu
            li
             a.estimator-selector(data-model='EUCP') EUCP
            li
             a.estimator-selector(data-model='EXUCP') EXUCP
            li
             a.estimator-selector(data-model='DUCP') DUCP
         div.checkbox.row-item
          label Simulation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           input(type='checkbox' value='simulation-data')
         button.btn.btn-primary.row-item(id='query-model-btn', data-repo-id="#{repoAnalytics._id}") Query
         img.row-item.hidden(id='model-query-progressing' src='img/progress-bar.gif')
         div.clear
       div(id='estimation-model-detail')
     div.tab-pane.fade(id="project_list")
      div.card-deck
       each model in repo.models
        div.card.col-md-2(data-model-id=model._id)
          div(class="card-block")
            div.card-title.model-name(title= model.umlModelName)
              a.model-title(href="queryModelAnalytics?model_id="+model._id) #{model.umlModelName}